<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/header.ejs") %>
  </head>

  <body>
    <% if ( locals.error ) { %>
    <script>
      alert("<%= error %>");
    </script>
    <% } %> <%- include('../partials/signoutButton.ejs') %>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
      <div class="bg-image"></div>
      <div class="no-blur text-center">
        <%- include("../partials/helpfulImagesToggle.ejs") %>

        <br />
        <h1>First, you'll need to share your Google Calendar</h1>
        <ul style="font-size: x-large" class="list-group align-items-center">
          <li class="list-group-item">
            Go to your <b style="font-size: xx-large">school email's</b>
            <!-- target="_blank" opens in new tab -->
            <a href="https://calendar.google.com/" target="_blank">Google Calendar</a>
          </li>

          <li class="list-group-item">
            On the left side, under "My calendars," click the three dots next to your name

            <img class="helpful-image" src="threeDots.png" style="height: 125px" />
          </li>
          <li class="list-group-item">
            Click "Settings and sharing" <img class="helpful-image" src="settingsAndSharing.png" style="width: 150px" />
          </li>
          <li class="list-group-item">
            Under "Share with specific people," click the "+ Add people" button
            <img class="helpful-image" src="addPeople.png" style="height: 125px" />
          </li>
          <!-- Copy to email and notify user on click -->
          <li class="list-group-item" onmousedown="copy_email()">
            Enter <b><%= client_email %></b> and make sure you select "Make changes to events"

            <img class="helpful-image" src="makeChangesToEvents.png" style="height: 125px" />
          </li>
          <li class="list-group-item">Click "Send"</li>

          <br />
          <button style="font-size: x-large" type="button" onclick="proceed();">Done! Next step</button>
          <br />
          <br />
          <script>
            async function proceed() {
              let res = await fetch("/shareCalendar", { method: "POST" });

              if (res.redirected) location.assign(res.url);
              else alert(await res.text());
            }

            function copy_email() {
              navigator.clipboard.writeText("<%= client_email %>");
              Toastify({ text: "Copied email to clipboard", duration: 3000 }).showToast();
            }
          </script>
        </ul>
      </div>
    </div>
    <script></script>
  </body>
</html>
